body {
    background-color: #ccf5f5;
}

#gameholder {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#title {
    width: 600px;
    height: 150px;
    margin: 0 auto;
    background-image:url('../images/penguin_title.png');
}

#score {
    width: 150px;
    height: 50px;
    position: absolute;
    left: 33%;
    border: 3px groove rgba(47, 79, 79, 0.3);
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 2rem;
    font-weight: 800;
    color: darkslategrey;
    text-shadow: 2px 2px lightgrey;
    background-color: rgba(0, 0, 0, .09);
}

#highestScore {
    width: 150px;
    height: 50px;
    position: absolute;
    left: 55%;
    border: 3px groove rgba(47, 79, 79, 0.3);
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 2rem;
    font-weight: 800;
    color: darkslategrey;
    text-shadow: 2px 2px lightgrey;
    background-color: rgba(0, 0, 0, .09);
}

#scoreMessage {
    width: 90%;
    height: 60vh;
    display: none;
    text-align: center;
    font-family: Comic Sans MS;
    font-weight: 800;
    color: darkslategrey;
    background-color: #8dc5c5c8;
    text-shadow: 2px 2px lightgrey;
    position: absolute;
    top: 20vh;
    left: 5%;
    z-index: 1;
    transition: 1s ease-out;
}

#scoreMessage h2 {
    font-size: 3rem;
    margin: 5rem auto 1rem auto;
}
#scoreMessage h3 {
    font-size: 2.5rem;
    margin: 1rem auto 1rem auto;
}
#scoreMessage .replayIcon {
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    margin: 3rem auto;
    height: 120px;
    width: 300px;
    position: absolute;
    top: 35vh;
    left: 35vw;
    background: url(../images/replayButton.svg) no-repeat;
    border-radius: 5px;
    padding: 10px;
    background-size: 60px;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 300;
}

#scoreMessage .replayIcon:hover {
    font-weight: 600;
    font-size: 3rem;
    background-size: 70px;
}

#game {
    margin-top: 2rem;
}

#penguin1:hover {
    background-image:url('../images/mound_1_hover.png');
    cursor: pointer;
}
/* #penguin {
    background-image:url('../images/penguin1.png');
} */
#penguin1 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound1.png');
}
#penguin2:hover {
    background-image:url('../images/mound_2_hover.png');
    cursor: pointer;
}
/* #penguin {
    background-image:url('../images/penguin2.png');
} */
#penguin2 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound2.png');
}
#penguin3:hover {
    background-image:url('../images/mound_3_hover.png');
    cursor: pointer;
}
/* #penguin {
    background-image:url('../images/penguin3.png');
} */
#penguin3 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound3.png');
}
#penguin4:hover {
    background-image:url('../images/mound_4_hover.png');
    cursor: pointer;
}
/* #penguin {
    background-image:url('../images/penguin4.png');
} */
#penguin4 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound4.png');
}
#penguin5:hover {
    background-image:url('../images/mound_5_hover.png');
    cursor: pointer;
}
/* #penguin {
    background-image:url('../images/penguin5.png');
} */
#penguin5 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound5.png');
}
#penguin6:hover {
    background-image:url('../images/mound_6_hover.png');
    cursor: pointer;
}
/* #penguin {
    background-image:url('../images/penguin6.png');
} */
#penguin6 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound6.png');
}
#penguin7:hover {
    background-image:url('../images/mound_7_hover.png');
    cursor: pointer;
}
/* #penguin {
    background-image:url('../images/penguin7.png');
} */
#penguin7 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound7.png');
}
#penguin8:hover {
    background-image:url('../images/mound_8_hover.png');
    cursor: pointer;
}
/* #penguin {
    background-image:url('../images/penguin8.png');
} */
#penguin8 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound8.png');
}
#penguin9:hover {
    background-image: url('../images/mound_9_hover.png');
    cursor: pointer;
}

/* #penguin {
    background-image: url('../images/penguin9.png');
} */

#penguin9 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('../images/mound9.png');
}

#penguin10:hover {
    background-image: url('../images/mound_10_hover.png');
    cursor: pointer;
}

/* #penguin {
    background-image: url('../images/penguin10.png');
} */

#penguin10 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('../images/mound10.png');
}

#penguin11:hover {
    background-image: url('../images/mound_11_hover.png');
    cursor: pointer;
}

/* #penguin {
    background-image: url('../images/penguin11.png');
} */

#penguin11 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('../images/mound11.png');
}
#penguin12:hover {
    background-image: url('../images/mound_12_hover.png');
    cursor: pointer;
}

/* #penguin {
    background-image: url('../images/penguin12.png');
} */

#penguin12 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('../images/mound12.png');
}
#penguin13:hover {
    background-image: url('../images/mound_13_hover.png');
    cursor: pointer;
}

/* #penguin {
    background-image: url('../images/penguin13.png');
} */

#penguin13 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('../images/mound13.png');
}
#penguin14:hover {
    background-image: url('../images/mound_14_hover.png');
    cursor: pointer;
}

/* #penguin {
    background-image: url('../images/penguin14.png');
} */
#penguin14 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('../images/mound14.png');
}

#yeti:hover {
    background-image: url('../images/mound_9_hover.png');
    cursor: pointer;
}
/* .yeti:active {
    background-image:url('../images/yeti.png');
} */
#yeti {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound9.png');
}