body {
	background-color: var(--dark-background);
}

.container {
	display: grid;
	/* grid-template-columns: ; */
}

.quizCard {
	margin-top: 40px;
	background-color: var(--card-background);
	color: white;
}

.header {
	padding: 2vh 3vw;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.avatar {
	grid-column: 1 / 2;
	justify-content: space-around;
}

.avatarIcon {
	height: 50px;
	width: 50px;
	background-color: var(--profile-color);
}

.display-user-name {
	grid-column: 2 / 4;
	justify-self: self-start;
}

.user-full-name {
	font-size: 1.7rem;
}

.time-remaining {
	grid-column: 4 / 7;
	justify-self: self-end;
	font-size: 1.4rem;
	position: relative;
}

.time-bar {
	height: 15px;
	width: 18rem;
	border-radius: 15px;
	background-color: var(--faded-text);
	position: absolute;
	bottom: -20px;
	left: -10px;
}

.fill-bar {
	border-radius: 15px;
	animation: fill 120s linear 1;
	height: 100%;
	background-color: var(--main-purple);
}

@keyframes fill {
	0% {
		width: 1%;
		border-radius: 15px;
	}
	100% {
		width: 100%;
		border-radius: 15px;
	}
}

@media only screen and (max-width: 680px) {
	.header {
		grid-template-rows: repeat(3, 50px);
		grid-template-columns: 1fr;
	}

	.avatar {
		grid-row: 1 / 2;
		grid-column: 1 / 2;
		justify-self: center;
		align-self: center;
	}

	.display-user-name {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
		justify-self: center;
		align-self: center;
	}

	.time-remaining {
		grid-row: 3 / 4;
		grid-column: 1 / 2;
		justify-self: center;
		align-self: center;
	}

}