:root {
	font-family: 'Roboto', sans-serif;
	--backgronud-color: #f8f8f8;
	--font-color: #8D8A86;
	--main-bright: #4B23F4;
}

body {
	background-color: var(--backgronud-color);
	min-width: 750px;
}

.signUpCard {
	margin-top: 5vh;
}

.fade {
	color: var(--font-color);
}

.col .s4 {
	width: 50px !important;
	margin: 0 5px;
}

.textLine {
	font-size: 1.3rem;
	margin-top: -15px;
	margin-bottom: 60px;
}

.inputBar {
	border: 1px solid var(--font-color);
	background-color: white;
	border-radius: 3px;
	padding: 0 10px !important;
	margin: 5px auto;
}

input {
	border-bottom: 0px !important;
	margin-bottom: 0 !important;
	height: 2rem !important;
}

.btn {
	width: 120px;
	height: 45px;
	line-height: 45px;
	border-radius: 5px;
	background-color: var(--main-bright);
	margin: 60px auto;
}